@import url(http://fonts.googleapis.com/css?family=Orbitron|Audiowide|Aldrich|Nova+Square);



body

{

background-image:url(http://www.bradentonvirtualassistant.com/images/bg.jpg);

background-repeat:repeat-x;

background-color:#afb3fc;

font-family: 'Aldrich' , 'Times New Roman' , sans-serif;

padding:10px;

}


        





p

{

font-size:14px;

font-family: 'Aldrich' , 'Times New Roman' , serif;

padding:5px;

}



a:link 

{
   color:#0f2f7c;

text-decoration:none;

}    



a:visited 

{

    color:#0f2f7c;

    text-decoration:none;

} 



a:hover

{

color:#fd8300;

text-decoration:none;

}   



a:active 

{

color:#87ccdff;

text-decoration:none;

}  



ul

{

list-style-type:none;

font-family: 'Audiowide', serif;

font-size: 24px;

}



/* Defines the wrapper for all page elements */

#wrapper 

{

background-color:white;

color:#000000;

text-align:justify;

max-width:900px;

min-width:900px;

min-height:750px;

max-height:auto;

margin:auto;

padding:2px;



}


/* Defines the masthead for logo and banner */

#masthead 

{

background-image:url('images/header.jpg');

background-repeat:no-repeat;

height:120px;

width:900px;

}



/* Defines the main navigation menu */

#Nav 

{

background-image:url('images/nav.jpg');
background-color:#87868B; 

color: #0f2f7c; 

padding:10px;

min-width:880px;

max-width:880px;

}



/* Defines the footer information */

#footer 

{

background-color:#ccc;

font-size:12px;

color:#0f2f7c; 

height:26px;

text-align:center;

min-width:900px;

max-width:900px;

margin-top:auto;

}



.sloganhr

{

background-color:#182b56;

color:#000000;

width:890px;

height:2px;

}



.sloganheading

{

color:#182b56;

font-family: 'Nova Square', serif;

padding:3px;

}



.pageheading

{

color:#182b56;

font-family: 'Audiowide', serif;

padding:5px;

}


